@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #7464bc;
  --dark-color-b: #8e75e4;
  --light-color: #ded9ee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}
.container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}
.header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.login-form {
  background: var(--dark-color-b);
  padding: 40px 50px;
}

.form-control {
  margin-bottom: 20px;
}
.btn {
  border-radius: 5px;
  color: #ded9ee;
  font-size: 20px;
  padding: 10px 10px;
  background-color: var(--dark-color-b);
  box-shadow: 1px 1px 5px 0 #000000;
  text-shadow: 1px 0 5px #000000;
  border: solid var(--dark-color-b) 1px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.btn:hover {
  border: solid #7464bc 0;
  background: #7464bc;
  background-image: -webkit-linear-gradient(top, #7464bc, #8e75e4);
  background-image: -moz-linear-gradient(top, #7464bc, #8e75e4);
  background-image: -ms-linear-gradient(top, #7464bc, #8e75e4);
  background-image: -o-linear-gradient(top, #7464bc, #8e75e4);
  background-image: -webkit-gradient(to bottom, #7464bc, #8e75e4);
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
}
.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}
